$color-fondo: #161928;
$color-primario: #24234C;
$color-profile: #5E3BE8;
$color-letra1: #60619E;
$color-letra2: #B3A5F0;
$color-letra3: #B8BCCA;
$color-letra4: #A291FA;
$color-work: #F88766;
$radio: 47px;