$color-fondo: #161928;
$color-primario: #24234C;
$color-profile: #5E3BE8;
$color-letra1: #60619E;
$color-letra2: #B3A5F0;
$color-letra3: #B8BCCA;
$color-letra4: #A291FA;
$color-trabajo: #F88766;
$color-estudio: #F8567D;
$color-ejercicio: #59D182;
$color-entretenimiento: #65C1E4;
$color-letrasp: #BEC0CF;
$radio: 47px;