@import "_variables.scss";
@import "_mixes.scss";
body{
    margin: 0;
    padding: 0;
    background-color: $color-fondo;
    scroll-behavior: smooth;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
}







/**********Codigo del header**********/
header{
    width: 80%;
    height: 20rem;
    border-radius: $radio;
    margin: 2rem auto;
    position: relative;
    background-color: $color-profile;
}
.contenedor-perfil{
    height: 13rem;
    @include propiedad-header;
    background-color: $color-profile;
    display: flex;
    flex-direction: row;
}
.perfil-img{
    width: 40%;
    height: 90%;
    display: flex;
}
.perfil-img img{
    width: 80%;
    height: 80%;
    margin: auto;
}
.perfil-txt{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.perfil-txt p{
    margin: .5rem;
}
.perfil-txt p:nth-of-type(1){
    color: $color-letra4;
    font-size: 20px;
}
.perfil-txt p:nth-of-type(2){
    color: $color-letra2;
    font-size: 30px;
}
.contenedor-date{
    height: 7rem;
    background-color: $color-primario;
    bottom: 0;
    @include propiedad-header;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenedor-date p{
    color: $color-letra1;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.contenedor-actividad{
    width: 100%;
}
.selected{
    color: white !important;
}















/***************Codigo de las secciones*****************/
section{
    width: 80%;
    height: 18rem;
    margin: 1rem auto;
    border-radius: $radio;
}
section p{
    color: $color-letrasp
}
.contenedor-actividad{
    @include propiedad-header;
    height: 5rem;
    position: relative
}
.contenedor-actividad img{
    position: absolute;
    right: 1.5rem;
}
.contenedor-horas{
    @include propiedad-header;
    height: 13rem;
    background-color: $color-primario;
    border-radius: 40px;
    display: flex;
}
section:nth-of-type(1){
    background-color: $color-trabajo;
}
section:nth-of-type(2){
    background-color: $color-estudio;
}
section:nth-of-type(3){
    background-color: $color-ejercicio;
}
#imagen-e{
    transform: rotate(-144deg);
}
section:nth-of-type(4){
    background-color: $color-entretenimiento;
}
.horas{
    width: 50%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lastweek{
    width: 50%;
    height: 100%;
    display: flex;
}
.lastweek p{
    margin: auto;
}
.horas p{
    margin: 0;
}
.horas p:nth-of-type(1){
    font-size: 24px;
}
.horas p:nth-of-type(2){
    font-size: 28px;
}



















/**********Codigo del boton**********/
.boton{
    width: 80%;
    margin: 1.5rem auto 1.5rem auto;
    height: 3rem;
    background-color: $color-profile;
    border-radius: $radio;
    color: white;
    font-size: large;
    transition: all 1s ease;
    border: none;
}
.boton:hover{
    cursor: pointer;
    font-size: xx-large;
    height: 4rem;
}